body {
    background-color: #f8f9fa;
}

header, footer {
    background-color: #2f5d50;
}

.btn-buscar,
.card .btn-primary {
    background-color: #b7794a;
    color: white;
    border: none;
}

.btn-buscar:hover,
.card .btn-primary:hover {
    background-color: #a4683f;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}